@import "tailwindcss";

@theme {
  --color-primary: #06b6d4;
  /* cyan-500 */
  --color-secondary: #22c55e;
  /* green-500 */
}

html {
  overflow-x: hidden;
}

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}